#!/bin/bash

# SBATCH --job-name=run_mesa_template
# SBATCH --partition=sbatch
# SBATCH --nodes=1
# SBATCH --ntasks-per-node=1
# SBATCH --cpus-per-task=1
# SBATCH --time=2:00:00
# SBATCH --mail-type=FAIL
# SBATCH --mail-user=schanlar@physics.auth.gr

# export OMP_NUM_THREADS=$SLURM_CPUS_PER_TASK

cp -r

./rn
